@use "./base.scss";

// put your custom CSS here!
@font-face {
  font-family: "SN Pro";
  src: url("/static/fonts/SN-Pro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SN Pro";
  src: url("/static/fonts/SN-Pro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SN Pro";
  src: url("/static/fonts/SN-Pro-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
