@use "./base.scss";

// put your custom CSS here!

@font-face {
  font-family: SN Pro;
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url("static/fonts/SNPro-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: SN Pro;
  font-style: italic;
  font-weight: 200 900;
  font-display: swap;
  src: url("static/fonts/SNPro-Italic-VariableFont_wght.ttf") format("truetype");
}